/node_modules/
/frontend/node_modules/
backend/config
backend/seeder
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

node_modules
frontend/node_modules
backend/node_modules
.env
